*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: PhonkContrast;
    src: url(fonts/Phonk\ Contrast\ DEMO.otf);
}
@font-face {
    font-family: PhonkRegular;
    src: url(fonts/Phonk\ Regular\ DEMO.otf);
}

body{
    background-color: #e3e8e4;
}
.container {
    display: flex;
    min-height: 100vh;
}

.image-section {
    width: 30%;
}

#cityImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.info-section {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

div#inputContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

input#cityInput {
    width: 100%;
    height: 53px;
    border-radius: 2px;
    border: none;
    padding: 9px;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
}

input#btn {
    width: 40%;
    height: 40px;
    background-color: #bcd3d4;
    border: none;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.weather-info {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2#cityTitle {
    font-size: 100px;
    font-family: PhonkContrast;
}

.weather-description {
    width: 100%;
}

.moredescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3#cityTemp {
    font-size: 50px;
    font-family: "Poppins", serif;
    font-weight:200;
    font-style: normal;
}

.moreinfo p {
    font-family: "Poppins", serif;
    font-weight:300;
    font-style: normal;
    font-size: 14px;
}

p#currentDay {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}